/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
         body{
                font-family: Arial, sans-serif;
                background-color: #f4f6f8;
            }
            .btn-back {
                position: fixed;
                top: 85px;
                left: 20px;
                color: black; 
                padding: 8px 12px;
                text-decoration: none;
                border-bottom: 1px solid black;
                z-index: 1000;
                margin-top: 5px;
            }
            .edit-container {
                max-width: 500px;
                margin: 140px auto;
                margin-bottom: 240px;
                padding: 30px;
                border: 1px solid #ccc;
                border-radius: 12px;
                background-color: #fdfdfd;
                box-shadow: 0 4px 10px rgba(0,0,0,0.1);
            }

            .edit-container h2 {
                text-align: center;
                margin-bottom: 20px;
            }

            .edit-container form {
                display: flex;
                flex-direction: column;
            }

            .edit-container label {
                margin-top: 10px;
                font-weight: bold;
            }

            .edit-container input {
                padding: 8px;
                border: 1px solid #ccc;
                border-radius: 6px;
                margin-top: 5px;
            }

            .edit-container button {
                margin-top: 20px;
                padding: 10px;
                background-color: #659ff5;
                color: white;
                border: none;
                border-radius: 8px;
                cursor: pointer;
            }

            .edit-container button:hover {
                background-color: #478df6;
            }
