/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
 html, body {
            height: 100%;
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #f4f6f8;
        }
        .page-wrapper {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
        .main-content {
            flex: 1;
            margin-top: 140px;
        }
        .welcome {
            font-size: 20px;
            margin-bottom: 30px;
            text-align: center;
        }
        .container {
            display: flex;
            justify-content: center;
            gap: 30px;
            padding: 40px;
        }
        .card {
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            width: 280px;
            padding: 20px;
            text-align: center;
        }
        .card h3 {color: #333;}

        .card p {
            color: #666;
            margin: 10px 0 20px;
        }
        .btn {
            padding: 10px 20px;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            font-weight: bold;
        }
        .btn-ex {
            background-color: #007bff;
            color: white;
        }
        .btn-ex:hover{background-color: #7d9fff; }
        .btn-edit {
            background-color: #1525b3;
            color: white;
        }
        .btn-edit:hover {background-color: #5374cf;}
        footer {
            padding: 20px;
            text-align: center;
            color: #c8c6c6;
        }
